<h1>Create a character</h1>


<form action="/characters/create" method="POST">

  <div>
    <label for="name">Name</label>
  </div>

  <div>
    <input type="text" name="name" id="name" />
  </div>

  <br/>

  <div>
    <label for="occupation">Occupation</label>
  </div>
  <div>
    <input type="text" name="occupation" id="occupation" />
  </div>

  <br/>

  <div>
    <label for="weapon">Weapon</label>
  </div>
  <div>
    <input type="text" name="weapon" id="weapon" />
  </div>

<br/>

   <div>
    <label for="isAcartoon">Is a Cartoon</label>
  </div>
  <div>
    <input type="checkbox" name="isAcartoon" id="isAcartoon" />
  </div>
  
  <br/>

  <button type="submit">Create Character</button>

  

</form>